.widget-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(117,0,255);
  background: linear-gradient(77deg, rgba(117,0,255,1) 28%, rgba(240,1,241,1) 100%);
  color: white;
}

.title-main {
  font-weight: bold;
}

.button-main {
  border: 1px solid rgb(255, 255, 255, 0.2);
}

.button-color {
  background: rgb(255, 255, 255, 0.2);
}
